
<div class="container">

<div class="side">
    <form class="pokemon-form" (submit)="addPokemon($event)" autocomplete="off">
      <h2 class="form-title"> Submit a Pokemon </h2>
      <div class="form-item">
        <input type="text" [(ngModel)]="name" (keyup)=filter() name="name" class="form-name has-border" placeholder="Add Task..."> 
        <div class="suggestions" *ngIf="filteredList.length > 0">
                <ul *ngFor="let item of filteredList" style="background-color: white;">
                    <li style="list-style-type: none;">
                        <a (click)="select(item)">{{item}}</a>
                    </li>
                </ul>
        </div>   
      </div>
      
      <div class="form-item">
        <input type="checkbox" [(ngModel)]="isShiny" name="isShiny" value="Shiny"><label> Shiny?</label>
      </div>  

      <div class="form-item">
        <input type="number" [(ngModel)]="level" name="level" min="1" max="100" class="has-border"><label> Level</label>
      </div>
      <div class="form-item">
        <button type="submit" class="form-submit">Submit</button>
      </div>
      
</form>
</div>
<div>
<div class="search-holder">
        <input (input)="search($event.target.value)" class="searchbar full-width has-padding has-border" type="text" name="search" placeholder="Search.." autocomplete="off">
    </div>
<div class="flex-container">
    

    <div *ngFor="let pokemon of pokemonList" class="flex-item">
        
        <pokemon [pokemon] = "pokemon">
        </pokemon> 

        
        <br><br>
    </div>
</div>
</div>

</div>