<ul class="navigation">
  	<li><a routerLink="/" routerLinkActive="active">Home</a>
    <li><a href="#">Heroes</a>
    <li style="float:left"><a (click)="showDialog = !showDialog">Home</a></li>
    <li><a (click)="showRegister = !showRegister">Sign Up</a></li>
    <li><a (click)="logout()">Products</a></li>
    <li *ngIf="authService.currentUser"><a (click)="goToProfile(authService.currentUser.username)">{{authService.currentUser.username}}</a></li>
</ul>


    



<login [(visible)]="showDialog">
  
  
</login>

<register [(visible)]="showRegister">

</register>




<router-outlet></router-outlet>