<nav class="nav">
<ul class="navigation">
  	<li class="sliding-middle-out" ><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li class="sliding-middle-out" ><a (click)="goToMessages()">Messages</a></li>
    <li class="sliding-middle-out" ><a (click)="showDialog = !showDialog">Log In</a></li>
    <li class="sliding-middle-out" ><a (click)="showRegister = !showRegister">Sign Up</a></li>
    <li *ngIf="authService.currentUser"><a (click)="goToProfile(authService.currentUser.username)">{{authService.currentUser.username}}</a>
    	<ul>    
            <li><a (click)="goToProfile(authService.currentUser.username)">Edit Profile</a></li>
            <li><a href="#">Subnav Item</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </li>
</ul>
</nav>


    



<login [(visible)]="showDialog">
  
  
</login>

<register [(visible)]="showRegister">

</register>




<router-outlet></router-outlet>