<div [@dialog] *ngIf="visible" class="dialog">
  <h2>Log in</h2>
  <form class="cd-form" [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
    <div class="form-group">
      
      <input type="text" class="form-control full-width has-padding has-border" formControlName="username" name="username" placeholder="Username" #spy>
      
    </div>
    <div class="form-group">
      
      <input type="password" class="form-control full-width has-padding has-border" formControlName="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="submit-button hvr-shutter-in-vertical">Submit</button>
  </form>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
