<h1 *ngIf="user">{{user.username}}</h1>

<div class="profile-page" *ngIf="user">
	<form class="cd-form" (ngSubmit)="submit()">
     
    <div class="form-group">
      
      <input type="text" class="form-control full-width has-padding has-border" [(ngModel)]="user.username" placeholder="Username" name="username">
    </div>
     <div class="form-group">
      
      <input type="email" class="form-control full-width has-padding has-border" [(ngModel)]="user.email" placeholder="Email" name="email">
    </div>

    <div class="form-group">
      
      <input type="text" class="form-control full-width has-padding has-border" [(ngModel)]="user.fc" placeholder="FC" name="fc">
    </div>
    
    
    <button type="submit" class="submit-button">Edit</button>
  </form>

  <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
  <button type="button" (click)="upload()">Upload</button>
</div>